<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="/index.css"> <!-- Подключение CSS -->
</head>
<body>
<header>
    <h1>Электронная библиотека</h1>
    <nav>
        <a href="/login" class="nav-button">Войти</a>
        <a href="/register" class="nav-button">Регистрация</a>
        <a href="/books" class="nav-button">Книги</a>
    </nav>
</header>
<main class="welcome-text">
    <h2>Добро пожаловать в нашу библиотеку!</h2>
    <p>Мы предоставляем доступ к множеству книг и ресурсов для студентов и преподавателей.</p>
</main>
<footer>
    <p>&copy; 2024 Электронная библиотека</p>
</footer>
</body>
</html>
