<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="login.css"> <!-- Подключение CSS -->
</head>
<body>
<header>
    <h1>Авторизация</h1>
</header>
<main>
    <form id="loginForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="button">Войти</button>
    </form>
    <p class="register-link">Нет аккаунта? <a href="/register" class="register-button">Зарегистрироваться</a></p>
</main>
<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value
        };

        // Получаем CSRF токен из формы
        const csrfToken = document.querySelector('input[name="_csrf"]').value;

        fetch('/api/users/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-XSRF-TOKEN': csrfToken
            },
            body: JSON.stringify(formData),
            credentials: 'include'
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Ошибка входа');
            })
            .then(data => {
                // Перенаправляем на страницу с книгами вместо actions
                window.location.href = '/books';
            })
            .catch(error => {
                alert('Неверные учетные данные');
                console.error(error);
            });
    });
</script>
<footer>
    <p>&copy; 2024 Электронная библиотека</p>
</footer>
</body>
</html>