<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чтение книги</title>
    <link rel="stylesheet" href="/reader.css">
    <link rel="stylesheet" href="/navbar.css"><!-- Подключение CSS -->
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<header>
    <h1 id="bookTitle">Читальный зал</h1>
</header>
<main>
    <div id="bookContent">
        <iframe id="pdfViewer" width="100%" height="1199px" style="border: none;"></iframe>
    </div>

    <div id="ratingSection">
        <h2>Оцените книгу</h2>
        <select id="ratingSelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button id="submitRating">Отправить оценку</button>
        <div id="ratingMessage"></div>
    </div>
</main>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const bookId = urlParams.get('id');

    // Устанавливаем URL PDF в iframe
    document.getElementById('pdfViewer').src = `/api/books/${bookId}/content`;


    document.getElementById('submitRating').addEventListener('click', () => {
        const rating = document.getElementById('ratingSelect').value;

        fetch(`/api/ratings/${bookId}/rate?rating=${rating}`, {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw new Error(err.message); });
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('ratingMessage').innerText = data.message;
            })
            .catch(error => {
                document.getElementById('ratingMessage').innerText = "Ошибка: " + error.message;
            });

    });
</script>
</body>
</html>
